<div class="form-group">
  <app-input
    [formControl]="direccionControl"
    type="text"
    id="direccion"
    label="Dirección Catastral"
    placeholder="Ej: KR 119B 73B 15"
    note="Ingrese la dirección completa del predio según el catastro"
  ></app-input>
</div>

<div class="form-group">
  <app-select
    dataId="tipoPredio"
    label="Tipo de predio"
    [formCtr]="codigoTipoUnidadControl"
    [options]="opcionesTipoUnidad()"
    placeholder="Selecciona una opción"
  ></app-select>
</div>

<div class="form-buttons">
  <app-button text="Volver" variant="secondary" type="button" (clicked)="onVolver()"> </app-button>
  <app-button
    text="Consultar"
    variant="primary"
    type="button"
    [disabled]="direccionControl.invalid"
    (clicked)="onConsultar()"
  >
  </app-button>
</div>
