.page-header {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
}

.page-header-content {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.5rem;
  width: 100%;
}

.page-title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
  color: #333;
  line-height: 1.2;
}

@media (max-width: 48rem) {
  .page-header {
    padding: 1rem 0;
  }

  .page-header-content {
    padding: 0 1rem;
    gap: 0.75rem;
  }

  .page-title {
    font-size: 1.5rem;
  }
}
