<div class="form-group">
  <app-input
    [formControl]="direccionControl"
    type="text"
    id="direccion"
    label="Dirección Catastral"
    placeholder="Ej: Calle 25 #45-60"
    note="Ingrese la dirección completa del predio según el catastro"
  ></app-input>

  @if (errorMessage) {
  <app-alert type="error" [dismissible]="true">
    {{ errorMessage }}
  </app-alert>
  }
</div>

<app-button
  text="Consultar"
  variant="fill"
  type="button"
  [disabled]="direccionControl.invalid"
  (clicked)="onConsultar()"
>
</app-button>
