.custom-dropdown-container {
  color: #4c4c4c;
  margin-bottom: 1rem;
}

.custom-dropdown-container label {
  display: block;
  margin-bottom: 10px;
  letter-spacing: 0px;
  color: #4c4c4c;
  text-align: left;
}

.custom-dropdown-container label span {
  color: #a80521;
  margin-left: 0.25rem;
}

.custom-dropdown-container label.disabled {
  color: #bababa;
}

.custom-dropdown-container select {
  display: inline-block;
  position: relative;
  border: 1.5px solid #737373;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 0.5rem;
  cursor: pointer;
  outline: none;
  padding: 0 16px;
  font-size: 15px; /* Body text 1 - 15px */
  font-family: Verdana, sans-serif;
  line-height: 22px; /* Body text 1 - 22px line-height */
  color: #4c4c4c;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%233366cc' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 40px;
}

.custom-dropdown-container select:focus,
.custom-dropdown-container select:hover {
  border: 1.5px solid #3366cc;
}

.custom-dropdown-container select:focus {
  outline: none;
  outline: 2px solid transparent;
  outline-offset: 3px;
}

.custom-dropdown-container select.error-border {
  border: 1.5px solid #a80521;
  box-shadow: none;
}

.custom-dropdown-container select.success-border {
  border: 1.5px solid #158361;
}

.custom-dropdown-container select:disabled {
  pointer-events: none;
  border: 1.5px solid #bababa;
  background-color: #f2f2f2;
  color: #bababa;
  cursor: not-allowed;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23bababa' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.validator-icon {
  position: absolute;
  top: calc(50% - 3px);
  right: 10px; /* Sobre la flecha del select */
  font-size: 24px;
  transform: translateY(-50%);
  pointer-events: none;
  font-weight: bold;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1; /* Sobre la flecha */
}

.success-icon {
  color: #158361;
  background-color: #e8f5f1;
}

.error-icon {
  color: #a80521;
  background-color: #fff5f5;
}

.custom-dropdown-container select option {
  padding: 11px 16px 10px 16px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
  color: #4c4c4c;
}

.custom-dropdown-container select option:hover {
  background-color: #e6effd;
}

.error-container {
  color: #a80521;
  font-size: 0.75rem;
  margin-top: 0.375rem;
}

.help-input-gov-text {
  color: #737373;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .custom-dropdown-container select {
    font-size: 0.875rem;
  }

  .custom-dropdown-container label {
    font-size: 0.875rem;
  }
}
