/* Top Menu */
.menu--top {
  background-color: #0943b5 !important;
  padding: 0.5rem 0 !important;
}

.menu--top .gov {
  height: 31px;
  width: 100%;
  max-width: 100px;
}

.navbar-brand .logo {
  height: 53.54px;
  width: 100%;
  max-width: 257px;
}

/* Main Menu */
.main-menu {
  background-color: #f9f9f9 !important;
  border-bottom: 4px solid #ea0a2a;
  padding: 0;
}

.main-menu .nav-link {
  color: #333;
  font-size: 15px;
  padding: 1.2rem 0;
  display: block;
}

.nav-item{
  flex: 1 1 auto !important;
  text-align: center !important;
}

.main-menu .nav-link:hover {
  background-color: #e8e4e4;
}


