<div class="toolbar">
  <div class="menu--top">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="region region-menu-fixedtop">
            <img alt="icono govco" class="gov" src="assets/images/logoGovCO.png" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="/" rel="home" title="Inicio">
        <img alt="Inicio" class="logo" src="assets/images/logo.svg" />
      </a>
      <div class="session-buttons-content"></div>
    </div>
  </nav>

  <nav class="main-menu">
    <div class="container">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Transparencia y acceso a la información pública</a></li>
        <li><a href="#">Atención y Servicios a la ciudadanía</a></li>
        <li><a href="#">Participa</a></li>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">¿Quiénes somos?</a></li>
        <li><a href="#">Portafolio</a></li>
      </ul>
    </div>
  </nav>
</div>

<app-page-header></app-page-header>
