.menu--top {
  background-color: #0943b5 !important;
  padding: 0.5rem 0 !important;
  height: 48px;
}

.menu--top .gov {
  height: 24px;
  max-width: 100px;
}

.navbar-brand .logo {
  height: 70px;
  max-width: 257px;
  padding: 0;
}

.main-menu {
  background-color: #f9f9f9 !important;
  border-bottom: 4px solid #ea0a2a;
  padding: 0;
}

.main-menu .nav-link {
  color: #333;
  padding: 1.2rem 0;
  display: block;
}

.nav-item {
  flex: 1 1 auto !important;
  text-align: center !important;
}

.main-menu .nav-link:hover {
  background-color: #e8e4e4;
}

.dropdown-menu {
  background-color: #f9f9f9 !important;
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 2px 0px #c4c2c2;
  border: solid 0px #cccccc;
}

.dropdown-item {
  font-size: 1rem;
  background: #f9f9f9;
  color: #575757;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #e8e4e4;
  text-decoration: underline;
}

.dropdown-menu li a {
  border-bottom: none;
  height: 35px;
}
