<footer class="background-footer">
  <div class="govco-footer">
    <div class="govco-data-front">
      <div class="container footer-container col-12">
        <div class="govco-footer-text">
          <div class="row align-items-center mb-2">
            <div class="col-lg-4 col-12 text-center text-lg-end order-1 order-lg-2 my-4 my-lg-0">
              <img
                class="govco-logo-entidad"
                src="../../../../assets/images/logo.png"
                alt="Logo entidad"
              />
            </div>
            <div class="col-lg-8 col-12 text-center text-lg-start order-2 order-lg-1 mb-3 mb-lg-0">
              <h2 class="govco-text-header-1 mb-0">{{ nombre_entidad }}</h2>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-lg-9">
              <div class="mb-3">
                <h3 class="govco-text-header-2 mb-2">Sede principal</h3>
              </div>
              <div class="info">
                <p class="mb-0">Dirección: {{ Direccion }}</p>
                <p class="mb-0">Código postal: {{ Cod_postal }}</p>
                <p class="mb-0">Horario de atención: {{ Hor_atencion }}</p>
                <p class="mb-0">Teléfono conmutador: {{ Tel_conmutador }}</p>
                <p class="mb-0">Línea de servicio a la ciudadanía: {{ Lin_gratuita }}</p>
                <p class="mb-0">
                  Radicación virtual de correspondencia:
                  <a href="{{ Correo_institucional }}" class="links text-decoration-none">{{
                    Correo_institucional
                  }}</a>
                </p>
                <p class="mb-0">
                  Notificaciones judiciales:
                  <a href="{{ Correo_not_judiciales }}" class="links text-decoration-none">{{
                    Correo_not_judiciales
                  }}</a>
                </p>
                <p class="mb-0">Información general: {{ Lin_general }}</p>
                <p class="mb-0">
                  Portal Bogotá:
                  <a href="{{ Portal_bogota }}" class="links text-decoration-none">{{
                    Portal_bogota
                  }}</a>
                </p>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-lg-12">
              <div class="govco-network">
                <a
                  href="{{ redes_sociales[0].url }}"
                  target="_blank"
                  title="{{ redes_sociales[0].title }}"
                  class="govcobasefooter_contentinfo_network-link"
                >
                  <span [innerHTML]="redes_sociales[0].svg"></span>
                  <span>{{ redes_sociales[0].nombre }}</span>
                </a>
                <a
                  href="{{ redes_sociales[1].url }}"
                  target="_blank"
                  title="{{ redes_sociales[1].title }}"
                  class="govcobasefooter_contentinfo_network-link"
                >
                  <span [innerHTML]="redes_sociales[1].svg"></span>
                  <span>{{ redes_sociales[1].nombre }}</span>
                </a>
                <a
                  href="{{ redes_sociales[2].url }}"
                  target="_blank"
                  title="{{ redes_sociales[2].title }}"
                  class="govcobasefooter_contentinfo_network-link"
                >
                  <span [innerHTML]="redes_sociales[2].svg"></span>
                  <span>{{ redes_sociales[2].nombre }}</span>
                </a>
                <a
                  href="{{ redes_sociales[3].url }}"
                  target="_blank"
                  title="{{ redes_sociales[3].title }}"
                  class="govcobasefooter_contentinfo_network-link"
                >
                  <span [innerHTML]="redes_sociales[3].svg"></span>
                  <span>{{ redes_sociales[3].nombre }}</span>
                </a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="govco-links-container">
                <a
                  class="govcobasefooter_contentinfo_network-link"
                  href="https://www.catastrobogota.gov.co/contacto/politicas-de-seguridad-privacidad-condiciones-de-uso-y-proteccion-de-datos-personales"
                  >Políticas</a
                >
                <a
                  class="govcobasefooter_contentinfo_network-link"
                  href="https://www.catastrobogota.gov.co/mapa-del-sitio"
                  >Mapa del sitio</a
                >
                <a
                  class="govcobasefooter_contentinfo_network-link"
                  href="https://outlook.office.com/owa/"
                  target="_blank"
                  >Correo institucional</a
                >
                <a
                  class="govcobasefooter_contentinfo_network-link"
                  href="http://intranet.catastrobogota.gov.co/"
                  target="_blank"
                  >Intranet</a
                >
                <a
                  class="govcobasefooter_contentinfo_network-link"
                  href="https://mesadeservicio.catastrobogota.gov.co/CAisd/pdmweb.exe"
                  target="_blank"
                  >Mesa de servicio</a
                >
                <a
                  class="govcobasefooter_contentinfo_network-link"
                  href="https://www.catastrobogota.gov.co/declaracion-de-accesibilidad"
                  >Accesibilidad</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="govco-footer-logo py-3">
      <div class="container col-12">
        <div class="row align-items-center pb-2">
          <div class="col-lg-4 col-12 text-center text-lg-start mb-3 mb-lg-0">
            <ul class="legal-items list-unstyled mb-0">
              <li class="item">© {{ currentYear }} Catastro. Todos los derechos reservados</li>
            </ul>
          </div>
          <div class="col-lg-4 col-12 text-center text-lg-start mb-3 mb-lg-0">
            <ul class="legal-items list-unstyled mb-0">
              <li class="item mb-2 text-lg-center">
                <a
                  class="item-link text-white"
                  href="https://www.catastrobogota.gov.co/contacto/politicas-de-seguridad-privacidad-condiciones-de-uso-y-proteccion-de-datos-personales"
                  target="_blank"
                  >Políticas de protección de datos personales</a
                >
              </li>
              <li class="item text-lg-center">
                <a class="item-link text-white" href="#/terms" target="_blank"
                  >Términos y Condiciones de Catastro en Línea</a
                >
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-12 text-center text-lg-end">
            <div class="d-flex align-items-center justify-content-center justify-content-lg-end">
              <a href="https://colombia.co/" title="Ir al portal de Marca país" class="me-3">
                <img
                  class="govco-co"
                  src="../../../../assets/images/logoGovCO.png"
                  alt="Logo Colombia"
                />
              </a>
              <span
                class="govco-separator border-end border-light opacity-75 mx-3"
                style="height: 44px"
              ></span>
              <a href="https://www.gov.co/" title="Ir al portal del Estado Colombiano - GOV.CO">
                <img
                  class="govco-logo"
                  src="../../../../assets/images/footerFooterColombia.png"
                  alt="Logo Gov.co"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
