.background-footer {
  background-color: #bbbbbb;
}

.govco-text-header-1,
.govco-text-header-2 {
  font-size: 24px;
  color: #3366cc;
}

.links {
  color: #3366cc;
}

.footer-container {
  background-color: white;
  position: relative;
  top: -100px;
  margin: 150px auto -40px auto;
  border-radius: 1rem;
  border: #eaf2fb 1px solid;
  padding: 48px 50px;
}

.govco-footer-logo {
  background-color: #0943b5;
}

.govco-logo-entidad {
  height: 57px;
}

.info {
  line-height: 1.5 rem !important;
}
.govco-co {
  height: 40px;
  display: inline-block;
}

.govco-logo {
  height: 40px;
  display: inline-block;
  vertical-align: super;
}

.govco-network {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 15px;
  row-gap: 5px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
}

.govco-links-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 1em;
  color: #004884;
}

.govcobasefooter_contentinfo_network-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #004884;
}
