<div class="form-group">
  <app-select
    dataId="zona"
    label="Seleccione la oficina de registro:"
    [formCtr]="zonaControl"
    [options]="zonas"
    placeholder="Seleccione una zona"
  ></app-select>
</div>

<div class="form-group">
  <app-input
    [formCtr]="matriculaControl"
    type="text"
    id="matricula"
    label="Escriba el numero de matricula inmobiliaria:"
    placeholder="Ej: 123456"
    helpText="El FMI (Folio de Matrícula Inmobiliaria) es el número asignado por la Oficina de Registro"
  ></app-input>
</div>

<div class="form-buttons">
  <app-button text="Consultar" variant="primary" type="button" (clicked)="onConsultar()">
  </app-button>
</div>
