.form-group {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.form-select {
  width: 100%;
  max-width: 100%;
  padding: 0.75rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.form-select:disabled {
  background-color: #f2f2f2;
  border: 0.094rem solid #bababa;
  color: #bababa;
  cursor: not-allowed;
}
