.input-text-gov-container {
  color: #4c4c4c;
  margin-bottom: 1rem;
}

.input-text-gov-container label {
  display: block;
  margin-bottom: 10px;
  letter-spacing: 0px;
  color: #4c4c4c;
  text-align: left;
}

.input-text-gov-container label span {
  color: #a80521;
  margin-left: 0.25rem;
}

.input-text-gov-container input:disabled::placeholder {
  color: #bababa;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-text-gov-container input {
  outline: none;
  background-color: #ffffff;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 0.5rem;
  border: 1.5px solid #737373;
  font-size: 15px; /* Body text 1 - 15px */
  font-family: Verdana, sans-serif;
  line-height: 22px; /* Body text 1 - 22px line-height */
  color: #4b4b4b;
}

.input-text-gov-container input::placeholder {
  color: #737373;
  font-size: 15px; /* Body text 1 - 15px */
  font-family: Verdana, sans-serif;
  line-height: 22px; /* Body text 1 - 22px line-height */
}

.input-text-gov-container input:focus {
  border: 1.5px solid #3366cc;
}

.input-text-gov-container input:focus::placeholder {
  color: #4c4c4c;
}

.input-text-gov-container input:disabled {
  background-color: #f2f2f2;
  border: 1.5px solid #bababa;
  color: #bababa;
  cursor: not-allowed;
}

.input-text-gov-container input:disabled::placeholder {
  color: #bababa;
}

.input-text-gov-container input[readonly] {
  background-color: #f6f8f9;
  border-color: #e6effd;
  cursor: default;
}

input.ng-invalid:not(.ng-untouched) {
  border: 1.5px solid #a80521 !important;
  color: #a80521;
}

input.ng-invalid:not(.ng-untouched)::placeholder {
  color: #a80521;
}

input.ng-invalid:not(.ng-untouched):focus::placeholder {
  color: #a80521;
}

input.withValue.ng-valid:not(.ng-untouched) {
  border: 1.5px solid #158361 !important;
  color: #158361;
}

input.withValue.ng-valid:not(.ng-untouched)::placeholder {
  color: #158361;
}

input.withValue.ng-valid:not(.ng-untouched):focus::placeholder {
  color: #158361;
}

.validator-icon {
  position: absolute;
  top: calc(50% - 3px);
  right: 10px;
  font-size: 24px;
  transform: translateY(-50%);
  pointer-events: none;
  font-weight: bold;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.success-icon {
  color: #158361;
  background-color: #e8f5f1;
}

.error-icon {
  color: #a80521;
  background-color: #fff5f5;
}

.error-container {
  color: #a80521;
  font-size: 0.75rem;
  margin-top: 0.375rem;
}

.help-input-gov-text {
  color: #737373;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .input-text-gov-container input {
    font-size: 0.875rem;
  }

  .input-text-gov-container label {
    font-size: 0.875rem;
  }
}
