<div class="tabs-container">
  <div class="tabs-govco">
    <nav>
      <div class="nav nav-tabs" role="tablist">
        @for (tab of tabs; track $index) {
          <button
            class="nav-link"
            (click)="selectTab($index)"
            [class.active]="selectedTabIndex === $index"
            [class.disable]="tab.disabled"
            [attr.aria-disabled]="tab.disabled"
            [title]="description"
          >
            {{ tab.label }}
          </button>
        }
      </div>
    </nav>
  </div>

  <!-- El contenido se proyecta desde el padre usando ng-content -->
  <div class="tab-content">
    <ng-content></ng-content>
  </div>
</div>
