.tabs-container {
  width: 100%;
  margin-bottom: 2rem;
  background-color: #F9F9F9;
  border-radius: 24px;
}

.nav-tabs {
  border: none;
}

.tabs-govco {
  display: flex;
  align-items: center;
  padding: 24px 24px 0 24px;
}

.tabs-govco button {
  min-width: 120px !important;
  border-radius: 100px;
  border: none;
  color: #333333;
  font-weight: 700;
  transition: all 0.3s ease;
}

.tabs-govco button.active {
  background-color: #feb400 !important;
  cursor: pointer;
}

.tab-pane {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
