<div class="custom-dropdown-container">
  @if (label.trim() !== '') {
  <label [for]="name || dataId" [ngClass]="{ disabled: control.disabled }">
    {{ label }}
    @if (isRequired()) {
    <span>*</span>
    }
  </label>
  }

  <select
    [attr.id]="name || dataId"
    [name]="name"
    [attr.aria-invalid]="control.invalid ? 'true' : 'false'"
    [formControl]="control"
    [ngClass]="{
      'error-border':
        ({
          errores: control.errors,
          dirty: control.dirty,
          valid: control.valid,
          touched: control.touched,
          status: control.status
        } | validateStatusField) === 'error',
      'success-border':
        ({
          errores: control.errors,
          dirty: control.dirty,
          valid: control.valid,
          touched: control.touched,
          status: control.status
        } | validateStatusField) === 'success'
    }"
  >
    <option selected disabled value="">{{ placeholder }}</option>
    @for (option of options; track option.value) {
    <option [value]="option.value">{{ option.label }}</option>
    }
  </select>

  @if (helpText && !control.invalid) {
  <p class="help-input-gov-text">{{ helpText }}</p>
  } @if (control.invalid && (control.touched || control.dirty)) {
  <div class="error-container" role="alert" aria-live="assertive">
    <span>{{ control.errors | validateMessageField }}</span>
  </div>
  }
</div>
