.entradas-de-texto-govco {
  padding: 0;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.entradas-de-texto-govco label {
  display: block;
  margin-bottom: 0.5rem;
  font: normal normal normal 15px/22px Verdana;
  letter-spacing: 0px;
  color: #4c4c4c;
  text-align: left;
  opacity: 1;
}

.entradas-de-texto-govco label .required {
  color: #a80521;
  margin-left: 0.25rem;
}

.entradas-de-texto-govco select {
  outline: none;
  background-color: #ffffff;
  border: 0.094rem solid #737373;
  border-radius: 0.313rem;
  width: 100%;
  padding: 0.5rem;
  color: #4b4b4b;
  font-size: 16px;
  margin-bottom: 0.5rem;
  display: inline;
  height: auto;
  box-sizing: inherit;
  line-height: 1.375rem;
}

.entradas-de-texto-govco select:focus-within {
  border: 0.094rem solid #1653c6;
}

.entradas-de-texto-govco select.error-border {
  border: 1px solid #a80521;
}

.entradas-de-texto-govco select.success-border {
  border: 1px solid #068460;
}

.entradas-de-texto-govco select:focus {
  outline-offset: max(0.125rem, 0.15em);
  outline: max(0.125rem, 0.15em) solid #000000;
}

.entradas-de-texto-govco select:disabled {
  background-color: #f2f2f2;
  border-color: #bababa;
  color: #bababa;
  cursor: not-allowed;
}

.error-texto-govco {
  display: block;
  color: #a80521;
  font-size: 0.75rem;
  margin-top: 0.375rem;
}

.success-texto-govco {
  display: block;
  color: #068460;
  font-size: 0.75rem;
  margin-top: 0.375rem;
}

.alert-entradas-de-texto-govco {
  font-family: Verdana, sans-serif;
}

@media (max-width: 768px) {
  .entradas-de-texto-govco select {
    font-size: 0.875rem;
  }

  .entradas-de-texto-govco label {
    font-size: 0.875rem;
  }
}
