<div class="input-text-gov-container">
  @if (label.trim() !== '') {
  <label [for]="name || id" [ngClass]="{ disabled: control.disabled }">
    {{ label }}
    @if (isRequired()) {
    <span>*</span>
    }
  </label>
  }

  <div class="input-wrapper">
    <input
      #inputElement
      [type]="type"
      [formControl]="control"
      [placeholder]="placeholder"
      [id]="name || id"
      [name]="name"
      [attr.readonly]="readonly ? '' : null"
      [attr.min]="min"
      [attr.max]="max"
      [attr.minlength]="minLength"
      [attr.maxlength]="maxLength"
      [attr.inputmode]="type === 'number' ? 'numeric' : type"
      [attr.aria-invalid]="control.invalid ? 'true' : 'false'"
      [ngClass]="{ withValue: control.value != null && control.value !== '' }"
      (blur)="onTouched()"
      (input)="onInputChange()"
    />

    @if (showSuccess) {
    <span class="validator-icon success-icon" aria-label="success" aria-hidden="true">✓</span>
    } @if (showError) {
    <span class="validator-icon error-icon" aria-label="error" aria-hidden="true">!</span>
    }
  </div>

  @if (helpText && !control.invalid) {
  <p class="help-input-gov-text">{{ helpText }}</p>
  } @if (showError) {
  <div class="error-container" role="alert" aria-live="assertive">
    <span>{{ getErrorMessage() }}</span>
  </div>
  }
</div>
