@if (predioData) {
<div class="result-info">
  <h4>Información del Predio</h4>

  <div class="info-grid">
    <div class="info-item">
      <span class="label">Dirección</span>
      <span class="value">{{ predioData.direccion }}</span>
    </div>
    <div class="info-item">
      <span class="label">Municipio</span>
      <span class="value">{{ predioData.municipio }}</span>
    </div>
    <div class="info-item">
      <span class="label">Localidad</span>
      <span class="value">{{ predioData.localidad }}</span>
    </div>

    @if (showAllFields) {
    <div class="info-item">
      <span class="label">Barrio</span>
      <span class="value">{{ predioData.barrio }}</span>
      <span class="value codigo-barrio">CÓDIGO: {{ predioData.codigoBarrio || 'N/A' }}</span>
    </div>
    <div class="info-item">
      <span class="label">Tipo de Predio</span>
      <span class="value">{{
        tipoUnidadSeleccionada?.descripcionUnidad || predioData.tipoPredio
      }}</span>
    </div>
    <div class="info-item">
      <span class="label">Estrato</span>
      <span class="value">{{ predioData.estrato }}</span>
    </div>
    <div class="info-item">
      <span class="label">Área Construida Privada</span>
      <span class="value">{{ predioData.areaConstruida }} m²</span>
    </div>
    <div class="info-item">
      <span class="label">Edad del Predio</span>
      <span class="value">{{ predioData.edad }} AÑOS</span>
    </div>
    }
  </div>
</div>
}
