/* ERROR MESSAGE BOX */
.error-message-box {
  background: #fee;
  border-left: 0.25rem solid #e3192f;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}

.error-message-box p {
  color: #d32f2f;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

/* FORM CONTAINER */
.form-container {
  padding: 0 2rem 2rem;
  margin-bottom: 2rem;
  width: 100%;
}
