/* Footer - Bootstrap enhanced with Gov.co classes */

/* White floating container */
.footer-container {
  background-color: white;
  position: relative;
  top: -100px;
  margin: 150px auto -40px auto;
  border-radius: 1rem;
  border: #eaf2fb 1px solid;
  padding: 48px 50px;
}
.govco-footer-logo{
  background-color: #0943b5;
}
/* Gov.co specific logos - Design styles */
.govco-logo-entidad {
  height: 50px;
  display: inline-block;
}

.govco-co {
  height: 40px;
  display: inline-block;
}

.govco-logo {
  height: 40px;
  display: inline-block;
  vertical-align: super;
}
