<div class="form-group">
  <app-input
    [formControl]="chipControl"
    type="text"
    id="chip"
    label="CHIP (Código de Identificación del Predio)"
    placeholder="Ingrese el CHIP del predio"
    note="El CHIP es un código único de 30 dígitos que identifica cada predio en Colombia"
  ></app-input>
</div>

<div class="form-buttons">
  <app-button text="Volver" variant="outline" type="button" (clicked)="onVolver()"> </app-button>
  <app-button
    text="Consultar"
    variant="fill"
    type="button"
    [disabled]="chipControl.invalid"
    (clicked)="onConsultar()"
  >
  </app-button>
</div>
