.step-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.form-container {
  background: white;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 2rem;
}

.current-title {
  font-size: 1.75rem;
  color: #004884;
  font-weight: 600;
  text-align: center;
}

.separator-line {
  border: 0;
  height: 1px;
  background-color: #e0e0e0;
  margin: 0 0 10px 0;
}
