@if (showDireccion()) {
<h4 class="map-address">
  Dirección del predio: <span class="address">{{ direccion() }}</span>
</h4>
}
<div class="map-container" #mapWrapper>
  <div #map class="map"></div>

  

  @if (cardVisible() && cardPredioData()) {
  <div class="card-overlay">
    <app-map-card
      [predioData]="cardPredioData()"
      [valorYaData]="cardValorYaData()"
      (closeCard)="hideCard()"
    >
    </app-map-card>
  </div>
  } @if (isLoading() && !isCapturing()) {
  <div class="map-loading">
    <div class="spinner"></div>
    <p>Cargando ubicación...</p>
  </div>
  }
</div>
