<div class="container-example-linea-avance-govco">
  <div class="linea-avance-govco h-linea-avance-govco">
    <div class="progress">
      <div class="progress-bar" [style.width]="progressPercentage()"></div>
    </div>
    <div class="items-header-linea-avance-govco">
      @for (stepConfig of stepperService.steps; track stepConfig.step) {
      <div
        class="header-linea-avance-govco"
        [class.active-linea-avance-govco]="isCurrentStep(stepConfig.step)"
        [class.past-linea-avance-govco]="isPastStep(stepConfig.step)"
      >
        <div class="indicator-linea-avance-govco">{{ stepConfig.step }}</div>
        <span class="title-linea-avance-govco">{{ stepConfig.label }}</span>
      </div>
      }
    </div>
  </div>
</div>
