<div class="stepper">
  @for (stepConfig of stepperService?.steps; track stepConfig.step) {
  <div
    class="step"
    [class.active]="isCurrentStep(stepConfig.step)"
    [class.completed]="isPastStep(stepConfig.step)"
  >
    <div class="step-circle-container">
      <div class="step-circle">
        <span class="step-number">{{ stepConfig.step }}</span>
      </div>
    </div>
    <div class="step-label">{{ stepConfig.label }}</div>
    @if (!$last) {
    <div class="line-container">
      <div class="line-base"></div>
      <div class="line-progress"></div>
    </div>
    }
  </div>
  }
</div>
