<div class="form-group">
  <app-input
    [formCtr]="direccionControl"
    type="text"
    id="direccion"
    label="Dirección principal del predio"
    placeholder="Ej: KR 119B 73B 15"
    helpText="Ingrese la dirección completa del predio según el catastro"
  ></app-input>
</div>

<div class="form-group">
  <app-select
    dataId="tipoPredio"
    label="Tipo de predio"
    [formCtr]="codigoTipoUnidadControl"
    [options]="opcionesTipoUnidad()"
    placeholder="Selecciona una opción"
  ></app-select>
</div>

<div class="form-buttons">
  <app-button text="Consultar" variant="primary" type="button" (clicked)="onConsultar()">
  </app-button>
</div>
