.aservice-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 17rem;
  padding-top: 3rem;
}

.help-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #2d2d2d;
  margin-bottom: 22px;
  padding-bottom: 22px;
  border-bottom: 0.0625rem solid #dee2e6;
}

.aservice-spacing {
  margin-bottom: 1.25rem;
}

.aservice-item {
  background-color: #ffffff;
  border-radius: 1.5rem;
  border: 1px solid #f9f9f9;
  box-shadow: 0 0.25rem 0 #f9f9f9;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link-card-wrapper {
  text-decoration: none;
  display: block;
  width: 100%;
}

.link-card:hover {
  background-color: #fff9c5;
}

.aservice-text-govco {
  color: #2d2d2d;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-decoration: none;
}

.aservice-spacing-card {
  margin: 1.3125rem auto 1.3125rem 1.6875rem;
}

.button-aservice-govco {
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.5rem;
  border: 0;
  display: flex;
  min-height: 4.375rem;
  padding: 0 1.5rem;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.button-aservice-govco:hover {
  background-color: #fff9c5;
}

.button-aservice-govco i {
  color: #2d2d2d;
  font-size: 1.2rem;
  transition: transform 0.3s;
}

.button-aservice-govco.collapsed i {
  transform: rotate(-90deg);
}

.aservice-body {
  padding: 1.5rem 2rem;
}

.aservice-mailto-govco {
  color: #3366cc;
  text-decoration: underline;
  word-break: break-all;
}

.aservice-number-govco {
  font-size: 0.9375rem;
  margin-bottom: 0;
  color: #000000;
}

.mail-icon-govco,
.headset-icon-govco {
  color: #feb400;
  font-size: 1.5rem;
}
