<div class="form-container">
  <h2>Dirección Catastral</h2>
  <form>
    <div class="form-group">
      <label for="direccion"
        >Ingrese la dirección principal del predio (incluya interior, torre, apartamento, casa,
        local o bodega si corresponde) *</label
      >
      <input
        type="text"
        id="direccion"
        name="direccion"
        [(ngModel)]="direccion"
        placeholder="KR 119B # 73B # 15"
        required
      />
    </div>
    <div class="buttons">
      <button type="button" (click)="onVolver()">Volver</button>
      <button type="button" (click)="onConsultar()">Consultar</button>
    </div>
  </form>
</div>
