<div class="form-container">
  <h2>CHIP</h2>
  <form>
    <div class="form-group">
      <label for="chip">Ingrese el valor del CHIP catastral *</label>
      <input
        type="text"
        id="chip"
        name="chip"
        [(ngModel)]="chip"
        placeholder="AAA0125HDG"
        required
      />
    </div>
    <div class="buttons">
      <button type="button" (click)="onVolver()">Volver</button>
      <button type="button" (click)="onConsultar()">Consultar</button>
    </div>
  </form>
</div>
